<div>
    <div class="input-group">
        <input 
            class="form-control border-end-0 border rounded-pill" 
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Enter a student's name...">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="button" (click)="onSearch()">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </span>
    </div>
</div>